<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="content form">
    <form action="#" th:action="@{/save/}" th:object="${music}" method="post">
        <input class="music_input" placeholder="Titre" type="text" th:field="*{title}"/>
        <input class="music_input" placeholder="Auteur" type="text" th:field="*{author}"/>
        <input class="music_button" type="submit" value="Enregistrer"/>
    </form>
</div>
</body>
</html>