<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Musique</title>
  <link th:href="@{/assets/main.css}" rel="stylesheet" />
</head>
<body>
<div class="content">
  <h1>Ma tracklist</h1>
  <br/><br/>
  <table class="table_music">
    <thead>
    <tr>
      <th>id</th>
      <th>Titre</th>
      <th>Auteur</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musicList}">
      <td th:text="${music.id}"></td>
      <td th:text="${music.title}"></td>
      <td th:text="${music.author}"></td>

    </tr>
    </tbody>
  </table>
  <a class="music_button add" href="/music">Ajouter une musique</a>

</div>
</body>
</html>